@import "reset";

:root {

  --color-theme: #0080DE;
  --color-base: #eee;
  --color-main: #333;
  --color-caution: #f00;

  @media (prefers-color-scheme: dark) {
    --color-theme: #0080DE;
    --color-base: #666;
    --color-main: #fff;
    --color-caution: #f00;
  }

  /* --sp-l: 60px;
  --sp-m: 24px;
  --sp-s: 10px;
  @media (width < 480px) {
    --sp-l: 48px;
    --sp-m: 16px;
    --sp-s: 8px;
  } */

  accent-color: var(--color-primary);
  color: var(--color-main);
  background: var(--color-base);
}

body {
  line-height: 1.6;
  font-weight: 500;
  font-size: 16px;
  font-family:
    "Futura",
    "Avenir Next",
    "Avenir",
    "Century Gothic",
    "Hiragino Sans",
    "Hiragino Kaku Gothic ProN",
    "Noto Sans JP",
    "Noto Sans CJK JP",
    "BIZ UDPGothic",
    Meiryo,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  font-feature-settings: "pkna" 1;
  font-kerning: normal;
  letter-spacing: 0.02em;
  @media (width < 480px) {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.4;
}

p {
  margin-top: 0.8em;
}

a,
button {
  transition: 0.2s ease-out;
  &:hover,
  &:active {
    transition: 0.2s ease-out;
  }
}

svg,
path {
  fill: currentColor;
  aspect-ratio: 1;
}
