---
import LangSwitch from "./LangSwitch.astro"
---

<header>
  <h1>
    <a href="/">UD</a>
  </h1>
  <nav>
    <ul>
      <li><a href="/article"></a></li>
    </ul>

    <LangSwitch />
  </nav>
</header>

<style lang="less">

  header {
    background-color: #eee;
    padding: 24px 64px;
  }
</style>
