---
import "@pagefind/default-ui/css/ui.css";
import { useTranslations } from "@/i18n";
import Layout from "@/layouts/Layout.astro";
const t = useTranslations(Astro.currentLocale);

export async function getStaticPaths() {
  return [{ params: { lang: "ja" } }, { params: { lang: "en" } }];
}
---

<Layout title="SEARCH">
  <div class="l-content">
    <h1>{t({ ja: "検索", en: "SEARCH" })}</h1>
    <div id="search"></div>
  </div>
</Layout>

<script>
  import { PagefindUI } from "@pagefind/default-ui";
  new PagefindUI({
    element: "#search",
    autofocus: true,
  });
</script>

<style>
  h1 {
    margin-top: var(--sp-l);
  }
  #search {
    margin-top: var(--sp-m);
  }
</style>
